NEXT_PUBLIC_META_APP_ID=
NEXT_PUBLIC_META_EMBEDDED_SIGNUP_CONFIG_ID=

META_GRAPH_VERSION=v26.0
META_REVIEW_ACCESS_TOKEN=
META_REVIEW_WHATSAPP_ACCESS_TOKEN=
META_REVIEW_KEY=
META_REVIEW_BUSINESS_ID=1400292674809647
META_REVIEW_WABA_ID=1086874920553716
META_REVIEW_PHONE_NUMBER_ID=1273362979192758
META_REVIEW_RECIPIENT_PHONE=
